<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template growth-both firer commentable" name="MenuTemplate">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1434368823691.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1434368823691-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1434368823691-ie8.css" /><![endif]-->
           <div id="t-Label_1" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Snake</span></div></div></div>
           <div id="t-Line_2" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 479 3" startMarker="none" endMarker="none" >
           </div>
           <div id="t-Line_3" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 479 3" startMarker="none" endMarker="none" >
           </div>
           <div id="t-Line_4" class="line shape non-processed-shape firer ie-background commentable" path="M 0 3 L 479 3" startMarker="none" endMarker="none" >
           </div>
           <div id="t-Label_2" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>Bohdan Uhrynovskiy (c) 2015</span></div></div></div>
           <div id="t-Label_3" class="label firer pageload ie-background commentable" ><div class="content"><div class="valign"><span>MenuHeader</span></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>