#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -239px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-BackToMainButton {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}