#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-Button_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f #s-BackToMainButton {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3e7848be-d6a6-4dac-ab51-8267ede7083f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}