#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Line_1 {
  rotation: 90.0;
  margin-left: 51px;
  margin-top: -51px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b5721fd3-df0d-4881-a1f7-ef1f5b423ae6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}