#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-GameButton_ {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-GameButton__1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-GameButton__2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c #s-GameButton__3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-6a61ad56-3bd0-4ce1-b4a9-667701859b4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}