#s-6bedda1a-a7c9-4480-9966-f210546389b3 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6bedda1a-a7c9-4480-9966-f210546389b3 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6bedda1a-a7c9-4480-9966-f210546389b3 #s-GameButton__2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-6bedda1a-a7c9-4480-9966-f210546389b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}