#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-checkbox-on-light_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-checkbox-on-light_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 #s-GameButton__4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-71b25436-d69d-47e7-b2ac-3759b01de754 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}