#s-a97535ef-6007-4292-8d4c-de7c14c3d8f7 #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a97535ef-6007-4292-8d4c-de7c14c3d8f7 #s-GameButton__4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a97535ef-6007-4292-8d4c-de7c14c3d8f7 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a97535ef-6007-4292-8d4c-de7c14c3d8f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}