#s-ac29551b-c1b5-4408-abab-d5747a12e9b6 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac29551b-c1b5-4408-abab-d5747a12e9b6 #s-GameButton__2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac29551b-c1b5-4408-abab-d5747a12e9b6 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ac29551b-c1b5-4408-abab-d5747a12e9b6 #s-GameButton__3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-ac29551b-c1b5-4408-abab-d5747a12e9b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}