#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-GameButton_ {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-GameButton__1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-GameButton__2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-GameButton__3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}