#t-557f684a-f924-4766-90c4-8f5edcde4357 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-557f684a-f924-4766-90c4-8f5edcde4357 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-557f684a-f924-4766-90c4-8f5edcde4357 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}