#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_2 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_3 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_3 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_4 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Line_4 {
  border-top-width: 7px;
  border-top-style: solid;
  border-top-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}